body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  header {
    text-align: center;
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
    font-size: 1.5em;
    font-weight: bold;
  }

  main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
  }

  #mapa-container {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 10px;
    background-image: url('argazkiek/arrano.png'); 
    background-size: 450px 178px; 
    background-repeat: no-repeat;
    background-position: bottom left;
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  svg {
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    transition: transform 0.2s ease;
  }

  #municipios-list {
    flex: 0.7;
    padding: 20px;
    border-left: 2px solid #ccc;
    overflow-y: auto;
    background-color: #f9f9f9;
  }
  
  #total-global {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #ccc;
    overflow-y: auto;
    background-color: #f9f9f9;
  }

  #municipios-list h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  #municipios-list ul {
    list-style-type: none;
    padding-left: 0;
  }

  .provincia {
    font-weight: bold;
    margin-top: 10px;
  }

  .municipio {
    margin-left: 20px;
  }

  .porcentaje {
    color: green;
  }
  #titulo-img {
      width: 35px; 
      height: auto; 
  }
  #titulo{
      margin: 10;
  }
  #titulo-container{
      display: flex; 
      align-items: center; 
      gap: 10px; 
  }
  #footer{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  #amnistia_img{
      width: 25px;
      height: auto; 
      margin-top: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    header{
      padding: 0%;
      font-size: 0.8rem;
    }
    #mapa-container {
      flex: 8;
      padding: 0;
      background-size: 150px 78px;
      padding-bottom: 0%; 
    }
    #municipios-list {
      flex: 1;
      padding: 1%;
      width: 100%;
    }
    #titulo-container{
      gap: 0;
    }
    #titulo-img {
      width: 0; 
    } 
    #titulo{
        margin: 10;
        font-size: 0.5rem;
    }
    #provincia-list{
      font-size: 0.4rem;
    }
    #municipios-list h2 {
      text-align: left;
      margin-bottom: 0;
    }
    .provincia {
      font-weight: bold;
      margin-top: 10%;
    }
  
    .municipio {
      font-weight: lighter;
      margin-left: 7%;
    }
  
    #amnistia_img{
      width: 20%; 
      margin-top: 2%;
  }



  }
